[submodule "roles/elasticsearch"]
	path = roles/elasticsearch
	url = git://github.com/npm/ansible-role-elasticsearch.git
[submodule "roles/redis"]
	path = roles/redis
	url = https://github.com/Stouts/Stouts.redis
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/ANXS/nginx
